<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Link Stub - 410 Gone</title>
    </head>
    <body>
        <div class="d-flex flex-column align-items-center mt-5">
            <h2>410 - Gone</h2>

            <p>
                The requested resource is no longer available.
            </p>

            <a href="/">Link Stub Home</a>
        </div>
    </body>
</html>